- let PFfirstName = 'Andrew'
- let PFsurname = 'Bogut'
- let PFcodigoBR = 'bogutan01'
- let PFinitialBR = 'b'
- let PFcodigoWiki = `${PFfirstName}_${PFsurname}`
- let PFposition = ''
- let PFshoots = ''
- let PFcurrentTeam = ''
- let PFbornDay = ''
- let PFbornUbication = ''
- let PFborn = `${bornDay} in ${bornUbication}`
- let PFcollegeName =''
- let PFcollegeYears = ''
- let PFcollege = `${collegeName} (${collegeYears})`
- let PFhighSchoolName = ''
- let PFhighSchoolUbication = ''
- let PFhighSchool = `${highSchoolName} in ${highSchoolUbication}`
- let PFclassRank = ''
- let PFdraftTeam = ''
- let PFdraftYear = ''
- let PFdraftPick = ''
- let PFdraft = `Draft year: ${draftYear}, ${draftPick}th, ${draftTeam}`
- let PFnbaDebut =''
- let PFexperience = ''