- let SFfirstName = 'David'
- let SFsurname = 'Lee'
- let SFcodigoBR = 'leeda02'
- let SFinitialBR = 'l'
- let SFcodigoWiki = `${SFfirstName}_${SFsurname}`
- let SFposition = ''
- let SFshoots = ''
- let SFcurrentTeam = ''
- let SFbornDay = ''
- let SFbornUbication = ''
- let SFborn = `${bornDay} in ${bornUbication}`
- let SFcollegeName =''
- let SFcollegeYears = ''
- let SFcollege = `${collegeName} (${collegeYears})`
- let SFhighSchoolName = ''
- let SFhighSchoolUbication = ''
- let SFhighSchool = `${highSchoolName} in ${highSchoolUbication}`
- let SFclassRank = ''
- let SFdraftTeam = ''
- let SFdraftYear = ''
- let SFdraftPick = ''
- let SFdraft = `Draft year: ${draftYear}, ${draftPick}th, ${draftTeam}`
- let SFnbaDebut =''
- let SFexperience = ''