- let SGfirstName = 'Deron'
- let SGsurname = 'Williams'
- let SGcodigoBR = 'willide01'
- let SGinitialBR = 'w'
- let SGcodigoWiki = `${SGfirstName}_${SGsurname}`
- let SGposition = 'a'
- let SGshoots = 'a'
- let SGcurrentTeam = 'a'
- let SGbornDay = 'a'
- let SGbornUbication = 'a'
- let SGborn = `${bornDay} in ${bornUbication}`
- let SGcollegeName = 'a'
- let SGcollegeYears = 'a'
- let SGcollege = `${collegeName} (${collegeYears})`
- let SGhighSchoolName = 'a'
- let SGhighSchoolUbication = 'a'
- let SGhighSchool = `${highSchoolName} in ${highSchoolUbication}`
- let SGclassRank = 'a'
- let SGdraftTeam = 'a'
- let SGdraftYear = 'a'
- let SGdraftPick = 'a'
- let SGdraft = `Draft year: ${draftYear}, ${draftPick}th, ${draftTeam}`
- let SGnbaDebut = 'a'
- let SGexperience = 'a'