- let PGfirstName = 'Chris'
- let PGsurname = 'Paul'
- let PGcodigoBR = 'paulch01'
- let PGinitialBR = 'p'
- let PGcodigoWiki = `${PGfirstName}_${PGsurname}`
- let PGposition = 'Point guard'
- let PGshoots = 'Right'
- let PGcurrentTeam = 'Oklahoma City Thunder'
- let PGbornDay = 'May 6, 1985'
- let PGbornUbication = 'Winston-Salem, North Carolina'
- let PGborn = `${bornDay} in ${bornUbication}`
- let PGcollegeName = 'Wake Forest'
- let PGcollegeYears = '2003-2005'
- let PGcollege = `${collegeName} (${collegeYears})`
- let PGhighSchoolName = 'West Forsyth'
- let PGhighSchoolUbication = 'Clemmons, North Carolina'
- let PGhighSchool = `${highSchoolName} in ${highSchoolUbication}`
- let PGclassRank = '2003 (6)'
- let PGdraftTeam = 'New Orleans Hornets'
- let PGdraftYear = '2005'
- let PGdraftPick = '4'
- let PGdraft = `Draft year: ${draftYear}, ${draftPick}th, ${draftTeam}`
- let PGnbaDebut = 'November 1, 2005'
- let PGexperience = '14 years'