- let CfirstName = 'Andrew'
- let Csurname = 'Bynum'
- let CcodigoBR = 'bynuman01'
- let CinitialBR = 'b'
- let CcodigoWiki = `${CfirstName}_${Csurname}`
- let Cposition = ''
- let Cshoots = ''
- let CcurrentTeam = ''
- let CbornDay = ''
- let CbornUbication = ''
- let Cborn = `${bornDay} in ${bornUbication}`
- let CcollegeName =''
- let CcollegeYears = ''
- let Ccollege = `${collegeName} (${collegeYears})`
- let ChighSchoolName = ''
- let ChighSchoolUbication = ''
- let ChighSchool = `${highSchoolName} in ${highSchoolUbication}`
- let CclassRank = ''
- let CdraftTeam = ''
- let CdraftYear = ''
- let CdraftPick = ''
- let Cdraft = `Draft year: ${draftYear}, ${draftPick}th, ${draftTeam}`
- let CnbaDebut =''
- let Cexperience = ''